In [1]:
import pandas as pd

In [4]:
data = {
    'eu': [0,1,2,3,4],
    'tu': [5,6,7,8,9]
}

tabela = pd.DataFrame(data)
tabela

   eu  tu
0   0   5
1   1   6
2   2   7
3   3   8
4   4   9