<a href="https://colab.research.google.com/github/GabrielSantana01/Projeto_SuperMercado_online/blob/main/Data-science/Alura/Python%20Pandas/metodo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [ ]:
km = int(input('insira a kilometragem pecorrida: '))
tempo = 2
def velocidadeMedia(banana, macaco):
  resul = banana/macaco
  print(resul)

In [ ]:
velocidadeMedia(km,tempo)

12.5

In [ ]:
valores = [2, 52, 79, 921, 87]
def media(lista):
  resultado = sum(lista)/len(lista)

In [ ]:
media(valores)# esse metodo nao consegui retornar nada pois o tipo resultado é nulo. para isso temos que usar uma biltfuncition retorn

In [ ]:
def media2(lista):
  resultado = sum(lista)/len(lista)

media2([2, 52, 79, 921, 87])# para que os valores seja reconhecido como um tipo lista devemos setar essa lista dentro do chamado do metodo

In [ ]:

def media(lista):
  resul = sum(lista)/len(lista)
  return resul, len(lista)
media(valores)

(228.2, 5)

pandas Basico

In [ ]:
#index_col = 0 retira o index numero e do dataframe passa a usar a proxima coluna como indice.

In [1]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [5]:
pd.DataFrame(dados)

     Crossfox    DS5   Fusca  Jetta  Passat
km      35000  17000  130000  56000   62000
ano      2005   2015    1979   2011    1999

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
dados.keys()
dados.values()
dados.items()

dict_items([('Crossfox', {'km': 35000, 'ano': 2005}), ('DS5', {'km': 17000, 'ano': 2015}), ('Fusca', {'km': 130000, 'ano': 1979}), ('Jetta', {'km': 56000, 'ano': 2011}), ('Passat', {'km': 62000, 'ano': 1999})])

In [ ]:
dados['1']['km']#para acessar os values é so colocar as keys entre[]

KeyError: ignored

In [ ]:
for item in dados.items():
  print (type(item))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
type(dados.values())

dict_values

In [ ]:
def km_media(dataset, ano_atual):
   for item in dataset.values():
        result = item['km'] / (ano_atual - item['ano'])
        print(result)
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [ ]:
def km_media(dataset, ano_atual):
    for item in dataset.items():
        result = item[1]['km'] / (ano_atual - item[1]['ano'])
        print(result)

In [ ]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [6]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [7]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [8]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [10]:
import pandas as pd
carros = pd.DataFrame(km_media(dados, 2019)).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

In [12]:
import pandas as pd
carros = pd.DataFrame(km_media(dados, 2019))
carros

          Crossfox      DS5     Fusca    Jetta   Passat
km         35000.0  17000.0  130000.0  56000.0  62000.0
ano         2005.0   2015.0    1979.0   2011.0   1999.0
km_media    2500.0   4250.0    3250.0   7000.0   3100.0